<footer class="folio-footer container-fluid">
  <div class="container">
      <div class="row">
          <div class="col-xs-12">
              <div class="pull-left">
                  <ul class="foot-nav-list">
                    <li>
                        <a>Home</a>
                    </li>
                    <li>
                        <a>About</a>
                    </li>
                    <li>
                        <a>Experience</a>
                    </li>
                    <li>
                        <a>Blog</a>
                    </li>
                  </ul>
              </div>
              <div class="foot-nav-social pull-right">
                  <span>Find me socially : </span>
                  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
              </div>
          </div>
          <div class="col-xs-12">
              <p>
                  © 2017 All rights reserved with Ravi Teja Darapu.
              </p>
          </div>
      </div>
  </div>
</footer>
