<!-- HERO SECTION -->
<div class="jumbotron">
  <div class="container">
      <h1> Hello, world</h1>
      <p class="lead">This is Ravi Teja Darapu, UI Developer & Designer from India with over 7 years of industry experience.</p>
      <p class="lead"><a class="btn btn-outline-inverse btn-lg" role="button">Checkout My Resume</a></p>
  </div>
</div>

<!-- SKILL SECTION -->
<div class="container">
  <div class="row skill-row">
      <div class="col-xs-12 col-md-6">
          <div class="media">
              <div class="media-left">
                  <a href="#">
                  <img class="media-object" src="../../assets/images/ui-dev.png" alt="UI Development">
                  </a>
              </div>
              <div class="media-body">
                  <h4 class="media-heading">UI DEVELOPMENT</h4>
                  <p>
                      I have gained considerable expertise over 7 years in building web applications with a particular focus on responsive web design and object oriented javascript.
                  </p>
              </div>
          </div>
      </div>
      <div class="col-xs-12 col-md-6">
          <div class="media">
              <div class="media-left">
                  <a href="#">
                  <img class="media-object" src="../../assets/images/ui-des.png" alt="UI Development">
                  </a>
              </div>
              <div class="media-body">
                  <h4 class="media-heading">UI DESIGN</h4>
                  <p>
                      I have a passion for designing interfaces and through my experience developed a consistent workflow, which I improve with each assignment.
                  </p>
              </div>
          </div>
      </div>
      <div class="col-xs-12">
          <h3 class="title">
              My skill set
          </h3>
      </div>
      <div class="col-xs-12 col-md-6">
          <ul class="skill-list">
              <li>
                  <div class="skill-item clearfix">
                      <div class="skill-img pull-left"><img class="img-responsive" src="../../assets/images/html.png" alt="HTML5" /></div>
                      <div class="skill-desc pull-left">
                          <h5 class="skill-title">HTML5</h5>
                          <p class="skill-bar"></p>
                      </div>
                  </div>
              </li>
              <li>
                  <div class="skill-item clearfix">
                      <div class="skill-img pull-left"><img class="img-responsive" src="../../assets/images/css.png" alt="CSS" /></div>
                      <div class="skill-desc pull-left">
                          <h5 class="skill-title">CSS</h5>
                          <p class="skill-bar"></p>
                      </div>
                  </div>
              </li>
              <li>
                  <div class="skill-item clearfix">
                      <div class="skill-img pull-left"><img class="img-responsive" src="../../assets/images/javascript.png" alt="javascript" /></div>
                      <div class="skill-desc pull-left">
                          <h5 class="skill-title">Javascript</h5>
                          <p class="skill-bar"></p>
                      </div>
                  </div>
              </li>
              <li>
                  <div class="skill-item clearfix">
                      <div class="skill-img pull-left"><img class="img-responsive" src="../../assets/images/angular.png" alt="angular" /></div>
                      <div class="skill-desc pull-left">
                          <h5 class="skill-title">Angular 1.x & 2</h5>
                          <p class="skill-bar"></p>
                      </div>
                  </div>
              </li>
          </ul>
      </div>
      <div class="col-xs-12 col-md-6">
          <ul class="skill-list">
              <li>
                  <div class="skill-item clearfix">
                      <div class="skill-img pull-left"><img class="img-responsive" src="../../assets/images/adobe-photoshop.png" alt="adobe-photoshop" /></div>
                      <div class="skill-desc pull-left">
                          <h5 class="skill-title">Adobe Photoshop</h5>
                          <p class="skill-bar"></p>
                      </div>
                  </div>
              </li>
              <li>
                  <div class="skill-item clearfix">
                      <div class="skill-img pull-left"><img class="img-responsive" src="../../assets/images/adobe-illustrator.png" alt="adobe-illustrator" /></div>
                      <div class="skill-desc pull-left">
                          <h5 class="skill-title">Adobe Illustrator</h5>
                          <p class="skill-bar"></p>
                      </div>
                  </div>
              </li>
          </ul>
      </div>
  </div>
</div>

<!-- WORK EXPERIENCE -->
<div class="container">
  <div class="row">
      <div class="col-xs-12">
          <h3 class="title">Work experience</h3>
      </div>
      <div class="col-xs-12">
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique maxime vero odio soluta animi nesciunt ad, aspernatur esse vitae! Veniam quas laboriosam modi iure dolorem nemo dicta, doloribus ut maiores.
          </p>
      </div>
      <ul class="exp-list col-xs-12 hidden-xs hidden-sm">
          <li class="col-xs-12 col-md-3">
              <div class="work-card">
                  <img class="img-responsive" src="../../assets/images/centurylink.png" alt="centurylink">
                  <div class="work-overlay">
                      <p class="work-desc">
                          Lead UI Developer <br>
                          May - Now
                      </p>
                  </div>
              </div>
          </li>
          <li class="col-xs-12 col-md-3">
              <div class="work-card">
                  <img class="img-responsive" src="../../assets/images/coe.png" alt="centurylink">
                  <div class="work-overlay">
                      <p class="work-desc">
                          Lead UI Developer <br>
                          May - Now
                      </p>
                  </div>
              </div>
          </li>
          <li class="col-xs-12 col-md-3">
              <div class="work-card">
                  <img class="img-responsive" src="../../assets/images/dsg.png" alt="centurylink">
                  <div class="work-overlay">
                      <p class="work-desc">
                          Lead UI Developer <br>
                          May - Now
                      </p>
                  </div>
              </div>
          </li>
          <li class="col-xs-12 col-md-3">
              <div class="work-card">
                  <img class="img-responsive" src="../../assets/images/staples.png" alt="centurylink">
                  <div class="work-overlay">
                      <p class="work-desc">
                          Lead UI Developer <br>
                          May - Now
                      </p>
                  </div>
              </div>
          </li>
      </ul>
  </div>
</div>

<!-- CONTACT SECTION -->

<div class="container">
  <div class="row">
      <div class="col-xs-12">
          <h3 class="title">get in touch</h3>
      </div>
      <div class="col-xs-12">
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, expedita doloremque molestiae totam consequuntur accusamus adipisci, vel eaque! Nesciunt recusandae rerum, enim perspiciatis deserunt esse. Quo, impedit officia doloremque atque?
          </p>
          <p class="contact-cta">
              <a class="btn btn-outline btn-lg">Contact Me</a>
          </p>
      </div>
  </div>
</div>