<!-- HERO SECTION -->
<div class="jumbotron">
  <div class="container">
      <h2> ABOUT ME </h2>
      <p>
        My first and true love is UI design.
      </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-7">
      <h3 class="title">
          What I <i class="fa fa-heart" aria-hidden="true"></i> to do
      </h3>
      <p>
        Create elegant and accessible user interfaces that are intuitive to the content presented and also reflects the latest trends and best practices followed in the industry.
      </p>
      <h3 class="title">
          Education
      </h3>
      <div>
        <ul class="edu-list">
          <li class="clearfix">
            <div class="pull-left">
              <h4>B.Tech Electronic and Instrumentation</h4>
              <p>SASTRA University</p>
            </div>
            <div class="pull-right">
              <p>
                2006-2010
              </p>
            </div>
          </li>
          <li class="clearfix">
            <div class="pull-left">
              <h4>Intermediate</h4>
              <p>Narayana Junior College</p>
            </div>
            <div class="pull-right">
              <p>
                2003-2005
              </p>
            </div>
          </li>
          <li class="clearfix">
            <div class="pull-left">
              <h4>Class 10</h4>
              <p>Little Scholar School</p>
            </div>
            <div class="pull-right">
              <p>
                2002-2003
              </p>
            </div>
          </li>
        </ul>
      </div>
      <h3 class="title">
          Other Intrests
      </h3>
      <div>
        <p class="other-txt">
            Apart from pushing pixels and coding the web, i like
            <br>Playing cricket
            <br>Hanging out with friends
            <br>Reading thriller or detective novels : sherlock is my favorite
            <br>Listening to indian ocean, raghu dixit or coldplay
        </p>
      </div>
    </div>
    <div class="col-md-5  hidden-xs hidden-sm">
        <div class="profile-thumb">
          <img src="../../../assets/images/profile.jpg" class="img-responsive" alt="">
        </div>
    </div>
  </div>
</div>