.jumbotron{
    text-align: left;
    padding-bottom: 30px;
}

.edu-list{
    list-style: none;
    padding-left: 0;
}

.edu-list li{
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
}

.edu-list li h4{
    margin: 0;
    margin-bottom: 10px;
}

.edu-list li p{
    margin: 0;
    font-size: .85em;
}

.profile-thumb{
    width: 75%;
    margin: 20px auto;
}

.other-txt{
    margin-bottom: 50px;
}